<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Flask app</title>
    </head>
    <body>
        <div class="container">
            <h1 class="container-header">Deepfake detector</h1>
            <div class="upload-area">
                {% if uploaded_image %}
                <img
                    src="{{ url_for('static', filename='uploads/' + uploaded_image) }}"
                    alt="Uploaded image"
                    class="uploaded-image"/>
                {% else %}
                <input type="file" id="fileUpload" name="fileUpload" />
                <label for="fileUpload"
                 class="upload-button"> Choose a file
                </label>
                {% endif %}
            </div>
            <div class="toggle-switch">
                <label class="switch">
                    <input type="checkbox" id="toggle"/>
                    <span class="slider round"></span>
                </label>
                <span class="slider-text">Enable test-time augmentation(for videos only)</span>
            </div>
        </div>
        {% if show_data %}
        <div class="results-container">
            <div class="results-item">
                Deepfake: <span id="prediction">{{deepfake}}</span>
            </div>
            <div class="results-item">
                Confidence: <span id="confidenceValue">{{confidence}}</span>
            </div>
        </div>
        {% endif %}
        {% if not show_data %}
        <div class="loader-container" style="display: none", id ="loader-container">
            <h2>Analyzing your file ...</h2>
            <div class="loader"></div>
        </div>
        {% endif %}
        <script src="{{ url_for('static', filename='upload-handler.js') }}"></script>
    </body>
</html>
